@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

@-ms-viewport{
    width: device-width;
}

body {
    margin: 0;
    box-sizing: border-box;
    display: block;
    background-image: url("../images/Super-Mario-1080-Main.jpg");
    background-repeat: no-repeat;
    height: 100%;
}

h1 {
    margin: 0 0 10px 0;
    background-color:#fc9838;
    color: white;
    padding: 10px 0 10px;
}

.buttonHolder{
    position: relative;
    margin: 25px auto 10px;
    color: white;
    width: 330px;
}

.userButton {
    height:50px;
    width:75px;
    border-radius: 20%;
    margin: 0 auto;
    font-size: 9px;
    display:inline-block;
    border-color: darkgray black black slategray;
}

.aiCheck{
    width:160px;
    margin: 0 auto 10px;
    color: black;
    font-size: 12px;
}

#aiDropdown{
    font-size:18px;
    width:160px;
    border: 2px;
}

.inGame{
    display: none;
}

.userButton:hover{
    background-color: cornflowerblue;
    color: white;
    pointer-events: all;    
}


header, td, div, .userButton, footer {
    font-family: 'Press Start 2P', cursive;
}

h1, .buttonHolder, td, .userMessages, .winOrDrawMsg, .aiMsg {
    text-align: center;
}

table {
    border-spacing: 0;
    position: relative;
    display: inline-block;
    margin-top: 5px;
}

td {
    border: 4px solid black;
    border-radius: 20%;
    height: 100px;
    width: 100px;
}

.userMessages, .winOrDrawMsg, .aiMsg{
    position: relative;
    width: 100%;
    height: 20px;
    font-size: 14px;
    margin-top: 10px;
}


td {
    font-size: 72px;
    pointer-events: all;
}


footer {
    position: fixed;
    background-color:#fc9838;
    width:100%;
    bottom:0;
    padding: 5px 0 5px 5px;
    color: white;
}

.scoreLabel.X {
    float: left;
}

.scoreLabel.O {
    float: right;
}

.gameContainer{
    display:block;
    margin: 0 auto;
    width: 330px;
}

.scoreLabel{
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 3px 0 0 3px;
    border: solid 3px;
    border-color: darkgray black black slategray;
    background-color: slategray;
    color:white;
}

.red{
    background-color:red;
    color: white;
}
.blue{
    background-color:blue;
    color: white;
}
.gridEffect:hover {
    background-image: url("../images/superMarioBlock.gif");
    background-size: cover;
}