@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
    
body {
    margin: 0;
    box-sizing: border-box;
    display: block;
}

h1 {
    margin: 0 0 10px 0;
    background-color: slategrey;
    color: white;
    padding: 10px 0 10px;
}

.buttonHolder{
    position: relative;
    width: 75vh;
    margin: 10px auto 0;
    height: 60px;
}

.userButton {
    height:50px;
    width:75px;
    border-radius: 20%;
    margin: 0 10px;
    font-size: 9px;
}

.inGame{
    display: none;
}

.userButton:hover{
    background-color: cornflowerblue;
    color: white;
}

#gameDescription p{
    width: 80vw;
    font-size: 13px;
    text-align: justify;
    margin: 0 auto;
    position: relative;
}

header, td, #gameDescription, .userButton, footer, p, .scoreLabel {
    font-family: 'Press Start 2P', cursive;
}

h1, .buttonHolder, td {
    text-align: center;
}

table {
    border-spacing: 0;
    position: relative;
    display: inline-block;
}

td {
    border: 2px solid black;
    border-radius: 20%;
    height: 75px;
    width: 75px;
}

.userMessages, .winOrDrawMsg{
    position: relative;
    width: 100%;
    height: 20px;
    text-align: center;
    /* padding: px 0 0 0; */
    font-size: 14px;
}

td {
    font-size: 48px;
}

footer {
    position: fixed;
    color: white;
    background-color: slategrey;
    width:100vw;
    bottom:0;
    padding: 5px 0 5px 5px;
}

.blue{
    background-color:blue;
    color: white;
}

.gameContainer{
    display:inline-block;
    left: calc(50vw - 260px);
    position: relative;
}

.scoreLabel{
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 10px;
    bottom: 98px;
}

.red{
    background-color:red;
    color: white;
}
