@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
 

body {
    margin: 0;
    box-sizing: border-box;
    display: block;
    background-image: url("../images/superMario3Hills.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    margin: 0 0 10px 0;
    background-color: slategrey;
    color: white;
    padding: 10px 0 10px;
}

.buttonHolder{
    position: relative;
    width: 75vh;
    margin: 10px auto 0;
    height: 60px;
}

.userButton {
    height:50px;
    width:75px;
    border-radius: 20%;
    margin: 0 10px;
    font-size: 9px;
}

.inGame{
    display: none;
}

.userButton:hover{
    background-color: cornflowerblue;
    color: white;
    pointer-events: all;
}

#gameDescription p{
    width: 80vw;
    font-size: 13px;
    text-align: justify;
    margin: 0 auto;
    position: relative;
    color:white;
}

header, td, div, .userButton, footer {
    font-family: 'Press Start 2P', cursive;
}

h1, .buttonHolder, td, .userMessages, .winOrDrawMsg, .aiMsg {
    text-align: center;
}

table {
    border-spacing: 0;
    position: relative;
    display: inline-block;
}

td {
    border: 4px solid black;
    border-radius: 20%;
    height: 75px;
    width: 75px;
}

.userMessages, .winOrDrawMsg, .aiMsg{
    position: relative;
    width: 100%;
    height: 20px;
    font-size: 14px;
    color: white;
}


td {
    font-size: 48px;
    pointer-events: all;
}


footer {
    position: fixed;
    background-color: slategrey;
    width:100vw;
    bottom:0;
    padding: 5px 0 5px 5px;
    color: white;
}

.blue{
    background-color:blue;
    color: white;
}

.gameContainer{
    display:inline-block;
    left: calc(50vw - 280px);
    position: relative;
}

.scoreLabel{
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 3px 0 0 3px;
    margin: 0 10px;
    bottom: 98px;
    border: solid 3px;
    border-color: darkgray black black slategray;
    background-color: slategray;
    color:white;
}

.red{
    background-color:red;
    color: white;
}

.gridEffect:hover {
    background-image: url("../images/superMarioBlock.gif");
    background-size: cover;
}